USE [master]
GO
/****** Object:  Database [SuscripcionesDB]    Script Date: 15/5/2026 10:12:08:PM ******/
CREATE DATABASE [SuscripcionesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuscripcionesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuscripcionesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuscripcionesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuscripcionesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuscripcionesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuscripcionesDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Descripcion] [nvarchar](30) NULL,
	[Color] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cicloFacturacion]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cicloFacturacion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correo]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credencial]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credencial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[SuscripcionID] [int] NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[NombreUsuario] [nvarchar](30) NOT NULL,
	[URL] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialDePago]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialDePago](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[SuscripcionID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoDePago]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoDePago](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoID] [int] NOT NULL,
	[Alias] [nvarchar](40) NOT NULL,
	[UsuarioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suscripcion]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscripcion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[MetodoDePagoID] [int] NOT NULL,
	[cicloFacturacionID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[CategoriaID] [int] NULL,
	[Descripcion] [nvarchar](40) NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[FechaRenovacion] [date] NOT NULL,
	[ImagenURL] [nvarchar](255) NULL,
	[ImagenAlt] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MetodoDePagoID] [int] NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([ID], [UsuarioID], [Nombre], [Descripcion], [Color]) VALUES (1, 1, N'Entretenimiento', NULL, N'#E50914')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[cicloFacturacion] ON 

INSERT [dbo].[cicloFacturacion] ([ID], [Descripcion]) VALUES (1, N'Semanal')
INSERT [dbo].[cicloFacturacion] ([ID], [Descripcion]) VALUES (2, N'Mensual')
INSERT [dbo].[cicloFacturacion] ([ID], [Descripcion]) VALUES (3, N'Trimestral')
SET IDENTITY_INSERT [dbo].[cicloFacturacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Correo] ON 

INSERT [dbo].[Correo] ([ID], [UsuarioID], [Descripcion]) VALUES (1, 1, N'juan@test.com')
SET IDENTITY_INSERT [dbo].[Correo] OFF
GO
SET IDENTITY_INSERT [dbo].[Credencial] ON 

INSERT [dbo].[Credencial] ([ID], [UsuarioID], [SuscripcionID], [Contrasena], [NombreUsuario], [URL], [Descripcion]) VALUES (1, 1, 1, N'6033727b47855dcdab29edb5a23ff72d:26a521b8ebda3aa291dd49379de1e12c522bd51436be132f46bd9fc25b26d36a', N'juan@test.com', N'https://spotify.com/login', N'Cuenta familiar')
SET IDENTITY_INSERT [dbo].[Credencial] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([ID], [Descripcion]) VALUES (1, N'Activa')
INSERT [dbo].[Estado] ([ID], [Descripcion]) VALUES (2, N'Pausada')
INSERT [dbo].[Estado] ([ID], [Descripcion]) VALUES (3, N'Cancelada')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialDePago] ON 

INSERT [dbo].[HistorialDePago] ([ID], [UsuarioID], [SuscripcionID], [Fecha], [Monto]) VALUES (1, 1, 1, CAST(N'2026-05-15' AS Date), CAST(10.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[HistorialDePago] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoDePago] ON 

INSERT [dbo].[MetodoDePago] ([ID], [TipoID], [Alias], [UsuarioID]) VALUES (1, 1, N'Mi Tarjeta Visa Principal', 1)
SET IDENTITY_INSERT [dbo].[MetodoDePago] OFF
GO
SET IDENTITY_INSERT [dbo].[Suscripcion] ON 

INSERT [dbo].[Suscripcion] ([ID], [UsuarioID], [MetodoDePagoID], [cicloFacturacionID], [EstadoID], [CategoriaID], [Descripcion], [Costo], [FechaRenovacion], [ImagenURL], [ImagenAlt]) VALUES (1, 1, 1, 2, 1, 1, N'Netflix (Plan Premium 4K)', CAST(18.99 AS Decimal(10, 2)), CAST(N'2026-08-15' AS Date), N'https://midominio.com/netflix-premium.png', N'Logo de Netflix Premium')
SET IDENTITY_INSERT [dbo].[Suscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo] ON 

INSERT [dbo].[Tipo] ([ID], [Descripcion]) VALUES (1, N'Tarjeta de crédito')
INSERT [dbo].[Tipo] ([ID], [Descripcion]) VALUES (2, N'Tarjeta de débito')
INSERT [dbo].[Tipo] ([ID], [Descripcion]) VALUES (3, N'Transferencia bancaria')
SET IDENTITY_INSERT [dbo].[Tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [MetodoDePagoID], [Contrasena], [Nombre]) VALUES (1, NULL, N'$2b$10$yvDaZlNJPrVY6gI1yBzO4OjiEUfKCWLP.SCrLBKt5C7CTT37FIbB.', N'Juan Pérez')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [IX_Categoria_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_UsuarioID] ON [dbo].[Categoria]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Correo_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Correo_UsuarioID] ON [dbo].[Correo]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Credencial_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Credencial_UsuarioID] ON [dbo].[Credencial]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialDePago_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_HistorialDePago_UsuarioID] ON [dbo].[HistorialDePago]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MetodoDePago_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_MetodoDePago_UsuarioID] ON [dbo].[MetodoDePago]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suscripcion_CategoriaID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Suscripcion_CategoriaID] ON [dbo].[Suscripcion]
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suscripcion_FechaRenovacion]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Suscripcion_FechaRenovacion] ON [dbo].[Suscripcion]
(
	[FechaRenovacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suscripcion_UsuarioID]    Script Date: 15/5/2026 10:12:09:PM ******/
CREATE NONCLUSTERED INDEX [IX_Suscripcion_UsuarioID] ON [dbo].[Suscripcion]
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Categoria] CHECK CONSTRAINT [FK_Categoria_Usuario]
GO
ALTER TABLE [dbo].[Correo]  WITH CHECK ADD  CONSTRAINT [FK_Correo_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Correo] CHECK CONSTRAINT [FK_Correo_Usuario]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD  CONSTRAINT [FK_Credencial_Suscripcion] FOREIGN KEY([SuscripcionID])
REFERENCES [dbo].[Suscripcion] ([ID])
GO
ALTER TABLE [dbo].[Credencial] CHECK CONSTRAINT [FK_Credencial_Suscripcion]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD  CONSTRAINT [FK_Credencial_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Credencial] CHECK CONSTRAINT [FK_Credencial_Usuario]
GO
ALTER TABLE [dbo].[HistorialDePago]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Suscripcion] FOREIGN KEY([SuscripcionID])
REFERENCES [dbo].[Suscripcion] ([ID])
GO
ALTER TABLE [dbo].[HistorialDePago] CHECK CONSTRAINT [FK_Historial_Suscripcion]
GO
ALTER TABLE [dbo].[HistorialDePago]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[HistorialDePago] CHECK CONSTRAINT [FK_Historial_Usuario]
GO
ALTER TABLE [dbo].[MetodoDePago]  WITH CHECK ADD  CONSTRAINT [FK_MetodoDePago_Tipo] FOREIGN KEY([TipoID])
REFERENCES [dbo].[Tipo] ([ID])
GO
ALTER TABLE [dbo].[MetodoDePago] CHECK CONSTRAINT [FK_MetodoDePago_Tipo]
GO
ALTER TABLE [dbo].[MetodoDePago]  WITH CHECK ADD  CONSTRAINT [FK_MetodoDePago_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[MetodoDePago] CHECK CONSTRAINT [FK_MetodoDePago_Usuario]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_Categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [FK_Suscripcion_Categoria]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_cicloFacturacion] FOREIGN KEY([cicloFacturacionID])
REFERENCES [dbo].[cicloFacturacion] ([ID])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [FK_Suscripcion_cicloFacturacion]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([ID])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [FK_Suscripcion_Estado]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_MetodoDePago] FOREIGN KEY([MetodoDePagoID])
REFERENCES [dbo].[MetodoDePago] ([ID])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [FK_Suscripcion_MetodoDePago]
GO
ALTER TABLE [dbo].[Suscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Suscripcion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Suscripcion] CHECK CONSTRAINT [FK_Suscripcion_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_MetodoDePago] FOREIGN KEY([MetodoDePagoID])
REFERENCES [dbo].[MetodoDePago] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_MetodoDePago]
GO
/****** Object:  StoredProcedure [dbo].[spActualizarCategoria]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spActualizarCategoria]
    @ID          INT,
    @Nombre      NVARCHAR(20) = NULL,
    @Descripcion NVARCHAR(30) = NULL,
    @Color       NVARCHAR(7)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Categoria
    SET
        Nombre      = ISNULL(@Nombre,      Nombre),
        Descripcion = ISNULL(@Descripcion, Descripcion),
        Color       = ISNULL(@Color,       Color)
    WHERE ID = @ID;

    IF @@ROWCOUNT = 0
        RAISERROR('Categoría no encontrada.', 16, 1);
END;

GO
/****** Object:  StoredProcedure [dbo].[spActualizarCredencial]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spActualizarCredencial]
    @ID            INT,
    @SuscripcionID INT           = NULL,
    @Contrasena    NVARCHAR(255) = NULL,
    @NombreUsuario NVARCHAR(30)  = NULL,
    @URL           NVARCHAR(150) = NULL,
    @Descripcion   NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Credencial
    SET
        SuscripcionID  = ISNULL(@SuscripcionID, SuscripcionID),
        Contrasena     = ISNULL(@Contrasena,    Contrasena),
        NombreUsuario  = ISNULL(@NombreUsuario, NombreUsuario),
        URL            = ISNULL(@URL,           URL),
        Descripcion    = ISNULL(@Descripcion,   Descripcion)
    WHERE ID = @ID;

    IF @@ROWCOUNT = 0
        RAISERROR('Credencial no encontrada.', 16, 1);
END;

GO
/****** Object:  StoredProcedure [dbo].[spActualizarSuscripcion]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spActualizarSuscripcion]
    @ID                 INT,
    @UsuarioID          INT,
    @MetodoDePagoID     INT           = NULL,
    @cicloFacturacionID INT           = NULL,
    @EstadoID           INT           = NULL,
    @CategoriaID        INT           = NULL,
    @Descripcion        NVARCHAR(40)  = NULL,
    @Costo              DECIMAL(10,2) = NULL,
    @FechaRenovacion    DATE          = NULL,
    @ImagenURL          NVARCHAR(255) = NULL,
    @ImagenAlt          NVARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Suscripcion WHERE ID = @ID AND UsuarioID = @UsuarioID)
        BEGIN
            RAISERROR('Suscripción no encontrada o no pertenece al usuario.', 16, 1);
            RETURN;
        END

        IF @CategoriaID IS NOT NULL AND
           NOT EXISTS (SELECT 1 FROM Categoria WHERE ID = @CategoriaID AND UsuarioID = @UsuarioID)
            RAISERROR('Categoría no encontrada o no pertenece al usuario.', 16, 1);

        UPDATE Suscripcion
        SET
            MetodoDePagoID     = ISNULL(@MetodoDePagoID,     MetodoDePagoID),
            cicloFacturacionID = ISNULL(@cicloFacturacionID, cicloFacturacionID),
            EstadoID           = ISNULL(@EstadoID,           EstadoID),
            CategoriaID        = ISNULL(@CategoriaID,        CategoriaID),
            Descripcion        = ISNULL(@Descripcion,        Descripcion),
            Costo              = ISNULL(@Costo,              Costo),
            FechaRenovacion    = ISNULL(@FechaRenovacion,    FechaRenovacion),
            ImagenURL          = ISNULL(@ImagenURL,          ImagenURL),
            ImagenAlt          = ISNULL(@ImagenAlt,          ImagenAlt)
        WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spActualizarUsuario]
    @ID           INT,
    @Contrasena   NVARCHAR(255) = NULL,
    @Nombre       NVARCHAR(30)  = NULL,
    @MetodoPagoID INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuario
    SET
        Contrasena     = ISNULL(@Contrasena,   Contrasena),
        Nombre         = ISNULL(@Nombre,        Nombre),
        MetodoDePagoID = ISNULL(@MetodoPagoID, MetodoDePagoID)
    WHERE ID = @ID;

    IF @@ROWCOUNT = 0
        RAISERROR('Usuario no encontrado.', 16, 1);
END;

GO
/****** Object:  StoredProcedure [dbo].[spCrearCategoria]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  CATEGORÍAS
-- ============================================================

CREATE   PROCEDURE [dbo].[spCrearCategoria]
    @UsuarioID   INT,
    @Nombre      NVARCHAR(20),
    @Descripcion NVARCHAR(30) = NULL,
    @Color       NVARCHAR(7)  = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE ID = @UsuarioID)
        RAISERROR('Usuario no encontrado.', 16, 1);

    INSERT INTO Categoria (UsuarioID, Nombre, Descripcion, Color)
    VALUES (@UsuarioID, @Nombre, @Descripcion, @Color);

    SELECT SCOPE_IDENTITY() AS ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spCrearCredencial]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  CREDENCIALES
-- ============================================================

CREATE   PROCEDURE [dbo].[spCrearCredencial]
    @UsuarioID     INT,
    @SuscripcionID INT           = NULL,
    @Contrasena    NVARCHAR(255),
    @NombreUsuario NVARCHAR(30),
    @URL           NVARCHAR(150) = NULL,
    @Descripcion   NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Credencial (UsuarioID, SuscripcionID, Contrasena, NombreUsuario, URL, Descripcion)
    VALUES (@UsuarioID, @SuscripcionID, @Contrasena, @NombreUsuario, @URL, @Descripcion);

    SELECT SCOPE_IDENTITY() AS ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[spCrearMetodoPago]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spCrearMetodoPago]
    @UsuarioID INT,
    @TipoID    INT,
    @Alias     NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE ID = @UsuarioID)
        RAISERROR('Usuario no encontrado.', 16, 1);
    IF NOT EXISTS (SELECT 1 FROM Tipo WHERE ID = @TipoID)
        RAISERROR('Tipo de método de pago no encontrado.', 16, 1);

    INSERT INTO MetodoDePago (UsuarioID, TipoID, Alias)
    VALUES (@UsuarioID, @TipoID, @Alias);

    SELECT SCOPE_IDENTITY() AS ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[spCrearSuscripcion]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  SUSCRIPCIONES
-- ============================================================

CREATE   PROCEDURE [dbo].[spCrearSuscripcion]
    @UsuarioID          INT,
    @MetodoDePagoID     INT,
    @cicloFacturacionID INT,
    @EstadoID           INT,
    @CategoriaID        INT           = NULL,
    @Descripcion        NVARCHAR(40)  = NULL,
    @Costo              DECIMAL(10,2),
    @FechaRenovacion    DATE,
    @ImagenURL          NVARCHAR(255) = NULL,
    @ImagenAlt          NVARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Usuario          WHERE ID = @UsuarioID)
            RAISERROR('Usuario no encontrado.',              16, 1);
        IF NOT EXISTS (SELECT 1 FROM MetodoDePago     WHERE ID = @MetodoDePagoID)
            RAISERROR('Método de pago no encontrado.',       16, 1);
        IF NOT EXISTS (SELECT 1 FROM cicloFacturacion WHERE ID = @cicloFacturacionID)
            RAISERROR('Ciclo de facturación no encontrado.', 16, 1);
        IF NOT EXISTS (SELECT 1 FROM Estado           WHERE ID = @EstadoID)
            RAISERROR('Estado no encontrado.',               16, 1);

        IF @CategoriaID IS NOT NULL AND
           NOT EXISTS (SELECT 1 FROM Categoria WHERE ID = @CategoriaID AND UsuarioID = @UsuarioID)
            RAISERROR('Categoría no encontrada o no pertenece al usuario.', 16, 1);

        INSERT INTO Suscripcion
            (UsuarioID, MetodoDePagoID, cicloFacturacionID, EstadoID, CategoriaID,
             Descripcion, Costo, FechaRenovacion, ImagenURL, ImagenAlt)
        VALUES
            (@UsuarioID, @MetodoDePagoID, @cicloFacturacionID, @EstadoID, @CategoriaID,
             @Descripcion, @Costo, @FechaRenovacion, @ImagenURL, @ImagenAlt);

        SELECT SCOPE_IDENTITY() AS ID;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spCrearUsuario]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  USUARIOS
-- ============================================================

CREATE   PROCEDURE [dbo].[spCrearUsuario]
    @Contrasena NVARCHAR(255),
    @Nombre     NVARCHAR(30),
    @Correo     NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Usuario (Contrasena, Nombre)
        VALUES (@Contrasena, @Nombre);

        DECLARE @NuevoUsuarioID INT = SCOPE_IDENTITY();

        INSERT INTO Correo (UsuarioID, Descripcion)
        VALUES (@NuevoUsuarioID, @Correo);

        SELECT @NuevoUsuarioID AS ID;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spEliminarCategoria]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEliminarCategoria]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Categoria WHERE ID = @ID)
        BEGIN
            RAISERROR('Categoría no encontrada.', 16, 1);
            RETURN;
        END

        -- Desasociar suscripciones antes de eliminar la categoría
        UPDATE Suscripcion SET CategoriaID = NULL WHERE CategoriaID = @ID;

        DELETE FROM Categoria WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spEliminarCredencial]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEliminarCredencial]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Credencial WHERE ID = @ID;

    IF @@ROWCOUNT = 0
        RAISERROR('Credencial no encontrada.', 16, 1);
END;

GO
/****** Object:  StoredProcedure [dbo].[spEliminarMetodoPago]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Ahora valida que el método pertenezca al usuario antes de eliminar
CREATE   PROCEDURE [dbo].[spEliminarMetodoPago]
    @ID        INT,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (SELECT 1 FROM MetodoDePago WHERE ID = @ID AND UsuarioID = @UsuarioID)
        RAISERROR('Método de pago no encontrado o no pertenece al usuario.', 16, 1);

    IF EXISTS (
        SELECT 1 FROM Suscripcion s
        INNER JOIN Estado e ON e.ID = s.EstadoID
        WHERE s.MetodoDePagoID = @ID
          AND e.Descripcion IN ('Activa', 'Por vencer')
    )
        RAISERROR('No se puede eliminar: el método de pago tiene suscripciones activas.', 16, 1);

    DELETE FROM MetodoDePago WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[spEliminarSuscripcion]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEliminarSuscripcion]
    @ID        INT,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Suscripcion WHERE ID = @ID AND UsuarioID = @UsuarioID)
        BEGIN
            RAISERROR('Suscripción no encontrada o no pertenece al usuario.', 16, 1);
            RETURN;
        END

        DELETE FROM HistorialDePago WHERE SuscripcionID = @ID;
        DELETE FROM Credencial      WHERE SuscripcionID = @ID;
        DELETE FROM Suscripcion     WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuario]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spEliminarUsuario]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Usuario WHERE ID = @ID)
        BEGIN
            RAISERROR('Usuario no encontrado.', 16, 1);
            RETURN;
        END

        DELETE FROM HistorialDePago WHERE UsuarioID = @ID;
        DELETE FROM Credencial      WHERE UsuarioID = @ID;
        DELETE FROM Suscripcion     WHERE UsuarioID = @ID;
        DELETE FROM Categoria       WHERE UsuarioID = @ID;

        DELETE FROM MetodoDePago
            WHERE ID NOT IN (
                SELECT DISTINCT MetodoDePagoID
                FROM Usuario WHERE MetodoDePagoID IS NOT NULL
            );

        DELETE FROM Correo  WHERE UsuarioID = @ID;
        DELETE FROM Usuario WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[spObtenerHistorialPorUsuario]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spObtenerHistorialPorUsuario]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        h.ID,
        h.Fecha,
        h.Monto,
        s.Descripcion AS Suscripcion,
        s.Costo       AS CostoSuscripcion
    FROM HistorialDePago h
    INNER JOIN Suscripcion s ON s.ID = h.SuscripcionID
    WHERE h.UsuarioID = @UsuarioID
    ORDER BY h.Fecha DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[spObtenerSuscripcionesPorVencer]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  CONSULTAS DE RECORDATORIOS
-- ============================================================

CREATE   PROCEDURE [dbo].[spObtenerSuscripcionesPorVencer]
    @DiasAnticipacion INT = 7
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        s.ID               AS SuscripcionID,
        s.Descripcion      AS Suscripcion,
        s.FechaRenovacion,
        s.Costo,
        s.ImagenURL,
        s.ImagenAlt,
        cat.Color          AS ColorCategoria,
        cat.Nombre         AS NombreCategoria,
        u.ID               AS UsuarioID,
        u.Nombre           AS NombreUsuario,
        c.Descripcion      AS Correo,
        cf.Descripcion     AS CicloFacturacion,
        DATEDIFF(DAY, CAST(GETDATE() AS DATE), s.FechaRenovacion) AS DiasRestantes
    FROM Suscripcion s
    INNER JOIN cicloFacturacion cf ON cf.ID  = s.cicloFacturacionID
    INNER JOIN Estado e            ON e.ID   = s.EstadoID
    INNER JOIN Usuario u           ON u.ID   = s.UsuarioID
    INNER JOIN Correo c            ON c.UsuarioID = u.ID
    LEFT  JOIN Categoria cat       ON cat.ID = s.CategoriaID
    WHERE
        e.Descripcion IN ('Activa', 'Por vencer')
        AND s.FechaRenovacion BETWEEN CAST(GETDATE() AS DATE)
                                  AND DATEADD(DAY, @DiasAnticipacion, CAST(GETDATE() AS DATE))
    ORDER BY s.FechaRenovacion ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[spObtenerSuscripcionesVencidas]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spObtenerSuscripcionesVencidas]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Suscripcion
    SET EstadoID = (SELECT ID FROM Estado WHERE Descripcion = 'Por vencer')
    WHERE
        FechaRenovacion < CAST(GETDATE() AS DATE)
        AND EstadoID    = (SELECT ID FROM Estado WHERE Descripcion = 'Activa');

    SELECT
        s.ID              AS SuscripcionID,
        s.Descripcion     AS Suscripcion,
        s.FechaRenovacion,
        s.Costo,
        s.ImagenURL,
        s.ImagenAlt,
        cat.Color         AS ColorCategoria,
        cat.Nombre        AS NombreCategoria,
        u.ID              AS UsuarioID,
        u.Nombre          AS NombreUsuario,
        c.Descripcion     AS Correo,
        DATEDIFF(DAY, s.FechaRenovacion, CAST(GETDATE() AS DATE)) AS DiasVencida
    FROM Suscripcion s
    INNER JOIN Estado e    ON e.ID   = s.EstadoID
    INNER JOIN Usuario u   ON u.ID   = s.UsuarioID
    INNER JOIN Correo c    ON c.UsuarioID = u.ID
    LEFT  JOIN Categoria cat ON cat.ID = s.CategoriaID
    WHERE e.Descripcion = 'Por vencer'
    ORDER BY s.FechaRenovacion ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[spObtenerUsuarioPorCorreo]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spObtenerUsuarioPorCorreo]
    @Correo NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        u.ID,
        u.Nombre,
        u.Contrasena,
        u.MetodoDePagoID,
        c.Descripcion AS Correo
    FROM Usuario u
    INNER JOIN Correo c ON c.UsuarioID = u.ID
    WHERE c.Descripcion = @Correo;
END;

GO
/****** Object:  StoredProcedure [dbo].[spRegistrarPago]    Script Date: 15/5/2026 10:12:09:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  PAGOS E HISTORIAL
-- ============================================================

CREATE   PROCEDURE [dbo].[spRegistrarPago]
    @UsuarioID     INT,
    @SuscripcionID INT,
    @Monto         DECIMAL(10,2),
    @Fecha         DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF @Fecha IS NULL SET @Fecha = CAST(GETDATE() AS DATE);

        IF NOT EXISTS (SELECT 1 FROM Suscripcion WHERE ID = @SuscripcionID AND UsuarioID = @UsuarioID)
        BEGIN
            RAISERROR('Suscripción no encontrada o no pertenece al usuario.', 16, 1);
            RETURN;
        END

        INSERT INTO HistorialDePago (UsuarioID, SuscripcionID, Fecha, Monto)
        VALUES (@UsuarioID, @SuscripcionID, @Fecha, @Monto);

        DECLARE @CicloDesc NVARCHAR(15);
        SELECT @CicloDesc = cf.Descripcion
        FROM Suscripcion s
        INNER JOIN cicloFacturacion cf ON cf.ID = s.cicloFacturacionID
        WHERE s.ID = @SuscripcionID;

        DECLARE @FechaActual DATE;
        SELECT @FechaActual = FechaRenovacion FROM Suscripcion WHERE ID = @SuscripcionID;

        DECLARE @NuevaFecha DATE;
        SET @NuevaFecha = CASE @CicloDesc
            WHEN 'Semanal'    THEN DATEADD(WEEK,  1, @FechaActual)
            WHEN 'Mensual'    THEN DATEADD(MONTH, 1, @FechaActual)
            WHEN 'Trimestral' THEN DATEADD(MONTH, 3, @FechaActual)
            WHEN 'Semestral'  THEN DATEADD(MONTH, 6, @FechaActual)
            WHEN 'Anual'      THEN DATEADD(YEAR,  1, @FechaActual)
            ELSE @FechaActual
        END;

        UPDATE Suscripcion
        SET
            FechaRenovacion = @NuevaFecha,
            EstadoID = CASE
                WHEN EstadoID = (SELECT ID FROM Estado WHERE Descripcion = 'Por vencer')
                THEN (SELECT ID FROM Estado WHERE Descripcion = 'Activa')
                ELSE EstadoID
            END
        WHERE ID = @SuscripcionID;

        SELECT @NuevaFecha AS NuevaFechaRenovacion;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
USE [master]
GO
